<title>Treasure Boxes</title>
  
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">  
  
  <link rel="stylesheet" href="/kendo/bower_components/kendo-ui/styles/kendo.common-bootstrap.min.css"/>
  
  <link rel="stylesheet" href="/kendo/bower_components/kendo-ui/styles/kendo.bootstrap.min.css"/>
  
  
  <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/creative.css" type="text/css">
  
    