<script type="text/x-kendo-template" id="base-layout-template">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="">Wellesley College Greenhouses</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/#/about">About This Box</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/guestbook">Guest Book</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/more">More boxes to find</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#/troubleshooting">Troubleshooting</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div id="content"></div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
        
            <div class="row">
                <div class="col-lg-3 text-center">
                    <i class="fa fa-twitter fa-3x"></i>
                    <p>@jenlooper</p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-github fa-3x"></i>
                    <p>Build your own boxes!</p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <p><a href="mailto:jen.looper@telerik.com">jen.looper@telerik.com</a></p>
                </div>
                 <div class="col-lg-3 text-center">
                    <i class="fa fa-desktop fa-3x"></i>
                    <p><a href="http://www.ladeezfirstmedia.com" target="_blank">Visit us on the web</a></p>
                </div>
            </div>
        </div>
    </section>

  </script>