<script type="text/x-kendo-template" id="about-view">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 well">
        <h2 class="section-heading">About Sensitive Plants</h2>
        <hr>
        <p>Mimosa pudica was first formally described by Carl Linnaeus in <b>Species Plantarum</b> in 1753.
        The species epithet, pudica, is Latin for "bashful" or "shrinking", alluding to its shrinking reaction to contact.
        The species is known by numerous common names including sensitive plant, humble plant, shameplant, touch-me-not, chuimui in Hindi and Urdu, and lajalu in Marathi.</p>
        <p>Mimosa pudica is well known for its rapid plant movement. Like a number of other plant species, it undergoes changes in leaf orientation termed "sleep" or nyctinastic movement. The foliage closes during darkness and reopens in light. This was first studied by the French scientist Jean-Jacques d'Ortous de Mairan.</p>
        <p>The leaves also close under various other stimuli, such as touching, warming, blowing, or shaking. These types of movements have been termed seismonastic movements. The stimulus is transmitted via action potentials to the pulvini of the plant, where contractile proteins and aquaporins induce the movement of water and electrolytes out of the cell. The movement occurs when specific regions of cells lose turgor pressure, which is the force that is applied onto the cell wall by water within the cell vacuoles and other cell contents. When the plant is disturbed, specific regions on the stems are stimulated to release chemicals, including potassium ions, which force water out of the cell vacuoles and the water diffuses out of the cells, producing a loss of cell pressure and cell collapse; this differential turgidity between different regions of cells results in the closing of the leaflets and the collapse of the leaf petiole. This movement of folding inwards is energetically costly for the plant and also interferes with the process of photosynthesis. This characteristic is quite common within the Mimosoideae subfamily of the legume family, Fabaceae. The stimulus can also be transmitted to neighboring leaves. It is not known exactly why Mimosa pudica evolved this trait, but many scientists think that the plant uses its ability to shrink as a defense from herbivores. Animals may be afraid of a fast moving plant and would rather eat a less active one. Another possible explanation is that the sudden movement dislodges harmful insects.
        </p>
        <p>Source: Wikipedia</p>
      </div>
    </div>
  </div>
</script>