<script type="text/x-kendo-template" id="home-view">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sonia Delaunay Treasure Box</h2>
        <hr class="light">
        <p class="text-faded">Find the treasure box near the Sonia Delaunay painting, open it, and find a treasure! Make sure to carefully close and lock the box for the next visitor.</p>
        <span data-bind="click:open" class="btn btn-default btn-xl">Open Box</span>
        <span data-bind="click:close" class="btn btn-default btn-xl">Close Box</span>
      </div>
    </div>
  </div>
</script>