<script type="text/x-kendo-template" id="home-view">
  <div class="container buttons">
    <div class="row col-lg-6 col-lg-offset-3 text-center">    
        <span data-bind="click:open" class="btn btn-default btn-xl">Open Box</span>
        <span data-bind="click:close" class="btn btn-default btn-xl">Close Box</span>
    </div>   
  </div>
</script>