<script type="text/x-kendo-template" id="more-view">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center well">
        <h2 class="section-heading">Find more boxes!</h2>
        <hr>
        <p>There are 6 more boxes to find at the Wellesley College Greenhouses.</p>
      </div>
    </div>
  </div>
</script>