<script type="text/x-kendo-template" id="more-view">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 well">
        <h2 class="section-heading">Find more boxes!</h2>
        <hr>
        <p>There are five more boxes to find at the Wellesley College Greenhouses:</p>
        <ul>
            <li>African Violet</li>
            <li>Teddybear Cactus</li>
            <li>Rubber Tree</li>
            <li>Duckweed</li>
            <li>Geranium</li>
            
      </div>
    </div>
  </div>
</script>