<script type="text/x-kendo-template" id="troubleshooting-view">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 well">
        <h2 class="section-heading">Having Trouble?</h2>
        <hr>
        <p><b>Trouble opening a box?</b></p>
        <p>If a box won't open, please report it using the email link below. If it has been left open, please gently press the lid down and press the 'close' button to re-engage the mechanism.</p>
        <p><b>Trouble with the Chrome app?</b></p>
        <p>Please ensure that bluetooth is on! This system will not work if you are offline. You also need to enable the physical web on the Chrome app. To do this, install the app and then in the 'today' tab on iOS, make sure that Chrome tools are selected, then enable the physical web on the 'today' widget.</p>
      </div>
    </div>
  </div>
</script>