<script type="text/x-kendo-template" id="troubleshooting-view">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 well">
        <h2 class="section-heading">Having Trouble?</h2>
        <hr>
        <p>Trouble opening a box?</p>
        <p>Trouble with the Chrome app?</p>
      </div>
    </div>
  </div>
</script>